<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome Checker</title>
    <link rel="stylesheet" href="../public/css/site.css">
</head>
<body>
    <header>
        <h1>Palindrome Checker</h1>
    </header>
    <form id="static-form" method="POST">
        <label>Enter text</label>
        <br>
        <textarea id="entertext" name="phrase" placeholder="Enter text" rows="8" cols="50"></textarea>
        <br>
        <button type="submit">Check</button>
    </form>
    <ol id="attempts"></ol>
    <script src="../public/js/palindrome.js"></script>
    <footer>
        <p>Name:Samir Shah</p>
        <p>CWID:10445681</p>
    </footer>
</body>
</html>