<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
     <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <h1>Error page</h1>
    <p>{{error}}</p>
    <a href="/">Try another palindrome</a>
</body>
</html>