<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <h1>The Best Palindrome Checker in the World!</h1>
    <main>
        <p id="introduction"> Palindrome is a word, phrase, number, or other sequence of characters which reads the same backward as forward, such as madam or racecar.
            The word "palindrome" was coined by the English playwright Ben Jonson in the 17th century from the Greek roots palin (πάλιν; "again") and dromos (δρóμος; "way, direction").
            This application checks for the given input by removing all the special characters, considering only alphanumerics.</p>
        <form action="/result" method="POST" class="new-post-form">
            <label id="labeltext">Enter text</label>
            <input type="text" id="checktext" name="text-to-test" placeholder="Enter text" >
            <button type="submit">check</button>
        </form>
    </main>
</body>
</html>