li.not-palindrome{
    color: #FF0000;
    font-style:bold;
}
li.is-palindrome{
    color: #0000FF;
    font-style:bold;
}
footer{
    position: absolute;
    bottom: 0;
    font-weight: bold;
}
body{
    background-color: azure;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea{
    border: 3px solid #555;
    border-radius: 4px;
}
form{
    background-color:darkgray
}
ol{
    font-family: cursive;
}


